MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=watif_test
MONGODB_USER = admin
MONGODB_PASSWORD = password

SECRET_KEY=secret_key
JWT_SECRET_KEY=83daa0256a2289b0fb23693bf1f6034d44396675749244721a2b20e896e11662
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

MODE=main
STAGE=development
DOMAIN_NAME=http://localhost:5000

ADMIN_EMAIL = admin@localhost.com
ADMIN_PASSWORD = adminpassword123
